/************ Start Global Rules **********/ 


body{
    font-family: "Cairo", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/*** Start Container ***/

/*** End Container ***/

/*** Start  Varaibles ***/
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
/*** End Varaibles ***/

/*** Start Components ***/
.Container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .Container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .Container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .Container{
        width: 1170px;
    }
}
/*** End Components ***/

/*** Start Main-Title Component ***/
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}
@keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}

/*** Start Main-Title Component ***/



/************ End Global Rules ***************/



/* Start Header */
.Header{
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
.Header .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.Header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    /* Remind : The Point of Height property is to Preseve the height of
     the Header when main/Content header is gone  */
    height: 72px;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media (max-width:767px) {
    .Header .logo{
        width: 100%;
    }
}
.Header .main-nav{
    display: flex;
}
@media (max-width:767px) {
    .Header .main-nav{
        margin: auto;
    }
}
.Header .main-nav > li > a {
    height: 72px;
    display:flex ;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width:767px) {
    .Header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.Header .main-nav > li > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.Header .main-nav > li > a:hover::before{
    left: 0;
} 
/* Header : start megamanue */
.Header .mega-menu{
    /* visibility: hidden; */
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    /*you Can use gap in flexbox like a Grid System*/
    gap: 40px;
    background-color: white;
    top: calc(100% + 50px);
    transition: top var(--main-transition), opacity var(--main-transition) ;
    -webkit-transition: top var(--main-transition), opacity var(--main-transition) ;
    -moz-transition: top var(--main-transition), opacity var(--main-transition) ;
    -ms-transition: top var(--main-transition), opacity var(--main-transition) ;
    -o-transition: top var(--main-transition), opacity var(--main-transition) ;
}
.Header .main-nav li:nth-child(4):hover .mega-menu {
    z-index: 1;
    opacity: 1;
    top: 100%;
    margin-top: 1px;
}
.Header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width:991px) {
    .Header .mega-menu .image img{
        display: none;
    }
}
@media (max-width:768px) {
    .Header .mega-menu{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.Header .mega-menu .links{
    min-width: 240px;
    flex: 1;
}
.Header .mega-menu .links li{
    position: relative;
}
.Header .mega-menu .links li::before{
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Header .mega-menu .links li:hover::before {
    width: 100%;
}
.Header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6 ;
}
@media (max-width:768px) {
    .Header .mega-menu .links li{
        border-bottom: 1px solid #e9e6e6 ;
    }
}
.Header .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.Header .mega-menu .links li a i{
    margin-right: 10px;
}
/* Header : End megamanue */

/* End Header */


/* Start Landing Secton */
.Landing{
    position: relative;
}
.Landing::before{
    content: '';
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}
.Landing .Container{
    min-height: calc(100vh - 72px) ;
    display: flex;
    align-items: center;
    padding-bottom: 120px
}
.Landing .text{
    flex: 1;
}

.Landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.Landing .text p{
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width:767px) {
    .Landing .text h1{
        font-size: 28px;
    }
    .Landing .text p{
        font-size: 18px;
    }
}
.Landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
    0%,
    100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@media (max-width:991px) {
    .Landing .image{
        display: none;
    }
    .Landing .text{
        text-align: center;
    }
    .Landing .text p{
        margin: 10px auto;
    }

}
.Landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.Landing .go-down:hover {
    color: var(--main-color-alt);
}
.Landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    40%,
    50%,
    80%,
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    40%,
    60%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
}
/* End Landing Secton */

/* Start Articales Section*/
.Articales{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.Articales .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.Articales .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px  ;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -webkit-border-radius: 6px  ;
    -moz-border-radius: 6px  ;
    -ms-border-radius: 6px  ;
    -o-border-radius: 6px  ;
}
/* In Any Box in your Project, Use The overflow:Hidden;
    Property to hide all things outside The Box */
.Articales .box:hover{
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.Articales .box img{
    max-width: 100%;
    width: 100%;
}
.Articales .box .content{
    padding: 20px;
}
.Articales .box .content h3{
    margin: 0;
}
.Articales .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.Articales .box .info{
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Articales .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.Articales .box .info i{
    color: var(--main-color);
}
.Articales .box:hover .info i{
    animation: Go-to 0.6s linear infinite ;
    -webkit-animation: Go-to 0.6s linear infinite ;
}
@keyframes Go-to {
    100%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
/* End Articales Secttion */

/* Start Gallery Section */

/* End Gallery Section */



