/************ Start Global Rules **********/ 


body{
    font-family: "Cairo", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/*** Start Container ***/

/*** End Container ***/

/*** Start  Varaibles ***/
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
/*** End Varaibles ***/

/*** Start Components ***/
.Container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .Container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .Container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .Container{
        width: 1170px;
    }
}
/*** End Components ***/

/*** Start Main-Title Component ***/
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}
@keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}

/*** Start Main-Title Component ***/



/************ End Global Rules ***************/



/* Start Header */
.Header{
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
.Header .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.Header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    /* Remind : The Point of Height property is to Preseve the height of
     the Header when main/Content header is gone  */
    height: 72px;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media (max-width:767px) {
    .Header .logo{
        width: 100%;
    }
}
.Header .main-nav{
    display: flex;
}
@media (max-width:767px) {
    .Header .main-nav{
        margin: auto;
    }
}
.Header .main-nav > li > a {
    height: 72px;
    display:flex ;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width:767px) {
    .Header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.Header .main-nav > li > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.Header .main-nav > li > a:hover::before{
    left: 0;
} 
/* Header : start megamanue */
.Header .mega-menu{
    /* visibility: hidden; */
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    /* Remind : you Can use gap in flexbox like a Grid System */
    gap: 40px;
    background-color: white;
    top: calc(100% + 50px);
    /* Remind : Always Use persentage in Width and Height and increase or decrease your pixels 
    D'ont use width : 600px , use width : calc(100% -/+ 30px) for example ,
    because that can be useful in responsive movement */
    transition: top var(--main-transition), opacity var(--main-transition) ;
    -webkit-transition: top var(--main-transition), opacity var(--main-transition) ;
    -moz-transition: top var(--main-transition), opacity var(--main-transition) ;
    -ms-transition: top var(--main-transition), opacity var(--main-transition) ;
    -o-transition: top var(--main-transition), opacity var(--main-transition) ;
}
.Header .main-nav li:nth-child(4):hover .mega-menu {
    z-index: 1;
    opacity: 1;
    top: 100%;
    margin-top: 1px;
}
.Header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width:991px) {
    .Header .mega-menu .image img{
        display: none;
    }
}
@media (max-width:768px) {
    .Header .mega-menu{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.Header .mega-menu .links{
    min-width: 240px;
    flex: 1;
}
.Header .mega-menu .links li{
    position: relative;
}
.Header .mega-menu .links li::before{
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Header .mega-menu .links li:hover::before {
    width: 100%;
}
.Header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6 ;
}
@media (max-width:768px) {
    .Header .mega-menu .links li{
        border-bottom: 1px solid #e9e6e6 ;
    }
}
.Header .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.Header .mega-menu .links li a i{
    margin-right: 10px;
}
/* Header : End megamanue */

/* End Header */


/* Start Landing Secton */
.Landing{
    position: relative;
}
.Landing::before{
    content: '';
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}
.Landing .Container{
    min-height: calc(100vh - 72px) ;
    display: flex;
    align-items: center;
    padding-bottom: 120px
}
.Landing .text{
    flex: 1;
}

.Landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.Landing .text p{
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width:767px) {
    .Landing .text h1{
        font-size: 28px;
    }
    .Landing .text p{
        font-size: 18px;
    }
}
.Landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
    0%,
    100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@media (max-width:991px) {
    .Landing .image{
        display: none;
    }
    .Landing .text{
        text-align: center;
    }
    .Landing .text p{
        margin: 10px auto;
    }

}
.Landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.Landing .go-down:hover {
    color: var(--main-color-alt);
}
.Landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    40%,
    50%,
    80%,
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    40%,
    60%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
}
/* End Landing Secton */

/* Start Articales Section*/
.Articales{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.Articales .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.Articales .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px  ;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    -webkit-border-radius: 6px  ;
    -moz-border-radius: 6px  ;
    -ms-border-radius: 6px  ;
    -o-border-radius: 6px  ;
}
/* In Any Box in your Project, Use The overflow:Hidden;
    Property to hide all things outside The Box */
.Articales .box:hover{
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.Articales .box img{
    max-width: 100%;
    width: 100%;
}
.Articales .box .content{
    padding: 20px;
}
.Articales .box .content h3{
    margin: 0;
}
.Articales .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.Articales .box .info{
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Articales .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.Articales .box .info i{
    color: var(--main-color);
}
.Articales .box:hover .info i{
    animation: Go-to 0.6s linear infinite ;
    -webkit-animation: Go-to 0.6s linear infinite ;
}
@keyframes Go-to {
    100%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
/* End Articales Secttion */

/* Start Gallery Section */
.Gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.Gallery .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0 rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.Gallery .box .image{
    position:relative;
    overflow: hidden;
}
.Gallery .box .image::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.Gallery .box .image:hover::before{
    animation: flashing 0.7s  ;
    -webkit-animation: flashing 0.7s  ;
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.Gallery .box .image img{
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}
/* End Gallery Section */

/* Start FEATURES Section  */
.Features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.Features .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.Features .box .img-holder{
    position: relative;
    overflow: hidden;
}
.Features .box .img-holder::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.Features .box .img-holder::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Features .time .img-holder::before{
    background-color: rgb(0 150 136);
}
.Features .quality .img-holder::before{
    background-color: #f44036
}
.Features .passion .img-holder::before{
    background-color: rgb(0 150 136 / 60%);
}
.Features .box:hover .img-holder::after{
    border-width: 170px 500px 170px 0 ;
}
.Features .box .img-holder img{
    max-width: 100%;
}
.Features .box h2{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.Features .box h2::after{
    content: '';
    height: 5px;
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: calc(100% - 30px);
}
.Features .time h2::after{
    background-color: rgb(0 150 136 )
}
.Features .passion h2::after{
    background-color: red;
}
.Features .box p{
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}
.Features .box a{
    display: block;
    border: 3px solid ;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.Features .quality a{
    border-style: rgb(244 64 54 / 60%);
    color: #f44036 ;
    background: linear-gradient(to right,#f44036 50%, white 50%);
    background-size: 200% 95%;
    background-position: right bottom;
}
.Features .quality h2::after{
    background-color: #f44036
}
.Features .quality .img-holder::before{
    background-color: #f44036;
}

.Features .time a{
    border-style: #009688; 
    color: #009688;
    background: linear-gradient(to right,#009688 50%, white 50%);
    background-size: 200% 95%;
    background-position: right bottom;
}
.Features .time h2::after{
    background-color: #009688 ;
}
.Features .time .img-holder::before{
    background-color: #009688;
}

.Features .passion a{
    color: #03a9f4;
    border-style: #03a9f4;
    background: linear-gradient(to right,#03a9f4 50%, white 50%);
    background-size: 200% 95%;
    background-position: right bottom;
}
.Features .passion h2::after{
    background-color: #03a9f4
}
.Features .passion .img-holder::before{
    background-color: #03a9f4;
}

/* for all boxex */
.Features .box:hover a{
    background-position: left bottom;
    color: white;
}

/* End FEATURES Section  */

/* Start Testimonials Section */
.Testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}
.Testimonials .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

/* Box */

.Testimonials .box{
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Testimonials .box img{
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid var(--section-background);
}
@media (max-width:375px) {
    .Testimonials .box img{
        width: 80px;
        right: 10px;
    }
}
.Testimonials .box h3{
    margin: 0 0 10px;
}
.Testimonials .box .title{
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.Testimonials .box .rate i:not(:nth-child(5)){
    color: #ffc107;
}
.Testimonials .box p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}

/* End Testimonials Section */

/* Start Team Member Section */
.Team{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.Team .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
/* box */
.Team .box{
    position: relative;
}
.Team .box::before,
.Team .box::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: calc(10px);
    -webkit-border-radius: calc(10px);
    -moz-border-radius: calc(10px);
    -ms-border-radius: calc(10px);
    -o-border-radius: calc(10px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Team .box::before{
    z-index: -2;
    width: calc(100% - 60px);
    background-color: var(--section-background);
}
.Team .box::after{
    background-color: #e4e4e4;
    z-index: -1;
    width: 0;
}
.Team .box:hover::after{
    width: calc(100% - 60px);
}
.Team .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.Team .box .data img{
    width: calc(100% - 60px);
    border-radius: calc(10px);
    -webkit-border-radius: calc(10px);
    -moz-border-radius: calc(10px);
    -ms-border-radius: calc(10px);
    -o-border-radius: calc(10px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Team .box:hover .data img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.Team .box .data .social{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.Team .box .data a{
    display: flex;
    width: 60px;
    height: 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.Team .box .data a i{
    color: #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Team .box .data a i:hover{
    color: var(--main-color);
}
/* info  */
.Team .box .info{
    padding-left: 80px;
}
.Team .box .info h3{
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.Team .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team Member Section */

/* Start Services Section */
.Services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.Services .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Services .box{
    background-color: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
    counter-increment: services;
}
.Services .box::before{
    content: '';
    left: 50%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
    transform: translateX(-50%);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} 
.Services .box:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.Services .box:hover::before{
    width: 100%;
}

.Services .box i{
    text-align: center;
    color: #d5d5d5;
    display: block;
    margin: 20px auto;
}
.Services .box h3{
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}
.Services .box .info{
    padding: 15px;
    text-align: right;
    position: relative;
    background-color: #f9f9f9 ;
}

.Services .box .info::before{
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px
}
.Services .box .info::after{
    content: '';
    position: absolute;
    background-color: #d5d5d5;
    width: 50px;
    height: 100%;
    left: 80px;
    top: 0;
    transform:skew(-30deg);
    -webkit-transform:skew(-30deg);
    -moz-transform:skew(-30deg);
    -ms-transform:skew(-30deg);
    -o-transform:skew(-30deg);
}
.Services .box .info a{
    text-decoration: none;
    color: var(--main-color);
}
/* End Services Section */

/* Start Our Skills Section */
.Skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.Skills .Container{
    display: flex;
    align-items: center;
}
@media (max-width:991px) {
    .Skills img{
        display: none;
    }
}
.Skills .Skills-box{
    flex: 1;
}
.Skills .Skills-box .Skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Skills .Skills-box .Skill h3 span{
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.Skills .Skills-box .Skill .progress{
    height: 30px;
    background-color: #eee;
    position: relative;
}
.Skills .Skills-box .Skill .progress span{
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    top: 0;
    left: 0;
}

/* End Our Skills Section */

/* Start How it Works Section */
.Works{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.Works .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:991px) {
    .Works .Container{
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* 
        iF you Want to Change The Direction of flexbox items
        in specific width , try to Use flex-column
        first instead flex-Wrap 
        */
    }
}
.Works img{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px) {
    .Works img{
        margin:  0 0 50px;
    }
}
.Works .info .box{
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f6f5f5;
    border-radius: 6px;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
    border: 2px solid white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:750px) {
    .Works .info .box{
        flex-direction: column;
        text-align: center;
    }
}
.Works .info .box::before{
    content: '';
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #ededed;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}
.Works .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.Works .info .box img{
    width: 64px;
    margin-right: 30px;
}
@media (max-width:750px) {
    .Works .info .box img{
        margin-right: 0;
    }
}
.Works .info .box .text h3{
    margin: 0;
    font-size: 22px;
}
.Works .info .box .text p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/* End How it Works Section */

/* Start Event Section */
.Events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.Events .Container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Events img{
    max-width: 450px;
}
@media (max-width:991px) {
    .Events img{
        display: none;
    }
}
.Events .info{
    flex: 1;
}
.Events .info .time{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.Events .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Events .info .time .unit:hover{
    border: 1px solid var(--main-color);
}
.Events .info .time .unit span{
    display: block;
}
.Events .info .time .unit span:nth-child(1){
    color: var(--main-color);
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid #d4d4d4;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}
.Events .info .time .unit:hover span:nth-child(1){
    border-bottom: 1px solid var(--main-color);
}
.Events .info .time .unit span:nth-child(2){
    padding: 8px 10px;
    font-size: 13px;
}
.Events .info h2{
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0;
}
.Events .info p{
    color: #777;
    line-height: 1.7;
    text-align: center;
    font-size: 19px;
}
.Events .subscribe{
    width: 100%;
    margin-top: 50px;
}
.Events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.Events .subscribe form input{
    padding: 20px;
    border-radius: 50px;
    border-style: none;
}
@media (max-width:750px) {
    .Events .subscribe form{
        width: 100%;
        flex-direction: column;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}
.Events .subscribe form input[value="Subscribe"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
.Events .subscribe form input[value="Subscribe"]:hover{
    background-color: #1787e0;
}
.Events .subscribe form input[type="email"]{
    border: none;
    caret-color: var(--main-color);
    flex: 1 ;
}
@media (max-width:767px) {
    .Events .subscribe form input[type="email"],
    .Events .subscribe form input[value="Subscribe"]{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.Events .subscribe form input[type="email"]:focus{
    outline: none;
}
.Events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
    -webkit-transition: opacity var(--main-transition);
    -moz-transition: opacity var(--main-transition);
    -ms-transition: opacity var(--main-transition);
    -o-transition: opacity var(--main-transition);
}
.Events .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
/* End Event Section */
/* Start Pricing Section */
.Pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.Pricing .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Pricing .box{
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%),    0 2px 4px rgb(0 0 0 / 12%);
    text-align: center;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Pricing .box::before,
.Pricing .box::after{
    content: '';
    width: 0;
    height: 50%;
    position: absolute;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}
.Pricing .box::before{
    left: 0;
}
.Pricing .box::after{
    right: 0;
    top: 50%;
}
.Pricing .box:hover::before,
.Pricing .box:hover::after{
    width: 100%;
}
.Pricing .popular .label{
    padding: 10px 10px 35px ;
    position: absolute;
    right: 18px;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    /* transform:rotate(90deg); */
    writing-mode: vertical-rl;
    font-size: 18px;
    width: 40px; 
}
.Pricing .popular .label::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style:solid ;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}
@media (min-width:1200px) {
    .Pricing .popular{
        top: -20px;
    }
}
.Pricing .box .title{
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}
.Pricing .box img{
    width: 80px;
    margin-bottom: 30px;
}
.Pricing .box .price .amount{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}
.Pricing .box .price .time{
    color: #777;
}
.Pricing .box ul{
    text-align: left;
    margin: 20px 0;
}
.Pricing .box ul li{
    padding: 20px ;
    border-top: 1px solid #eee;
}
.Pricing .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    font-weight: bolder;
    color: var(--main-color);
    margin-right: 10px;
}
.Pricing .box a{
    display: block;
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    margin: 30px auto;
    width: fit-content;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.Pricing .box a:hover{
    background-color: var(--main-color);
    color: white;
}
/* End Pricing Section */

/* Start Videos Section */
.Top-Videos{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.Top-Videos .holder{
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}
@media (max-width:991px) {
    .Top-Videos .holder{
        flex-direction: column;
    }
}
.Top-Videos .holder .list{
    min-width: 300px;
    background-color: white;
}
.Top-Videos .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: #ddd;
}
.Top-Videos .holder .list ul li{
    padding: 20px;
    border: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Top-Videos .holder .list ul li:hover{
    color: var(--main-color);
    background-color:var(--section-background);
}
.Top-Videos .holder .list ul li span{
    display: block;
    color: #777;
}
.Top-Videos .holder .preview{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Top-Videos .holder .preview img{
    max-width: 100%;
}
.Top-Videos .holder .preview .info{
    background-color: white;
    padding: 20px;
    margin-top:10px;
}
/* End Videos Section */

/* Start Stats Section */
.Stats{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background: url(../img/stats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Stats::before{
    content: '';
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.Stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
    text-align: center;
}
.Stats .Container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.Stats .box{
    background-color: white;
    text-align: center;
    position: relative;
    padding: 20px;
    opacity: 0.8;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Stats .box:hover{
    opacity: 1;
}
.Stats .box::before,
.Stats .box::after{
    content:'';
    position: absolute;
    background-color: var(--main-color);
    height: 0;
    width: 2px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Stats .box::before{
    bottom: 0;
    right: 0;
}
.Stats .box::after{
    top: 0;
    left: 0;
}
.Stats .box i{
    display: block;
    margin: 20px auto;
    font-weight: 900;
    font-size: 2em;
}
.Stats .box:hover::before,
.Stats .box:hover::after{
    height: 100%;
}
.Stats .box span:nth-child(2){
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Stats .box span:last-child{
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/* End Stats Section */

/* Start Discount Section */
.Discount{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.Discount .image{
    background-image: url(../img/discount-background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    flex-basis: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change-background 10s linear infinite;
    -webkit-animation: change-background 10s linear infinite;
}
.Discount .image::before{
    content: '';
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.98;
    z-index: -1;
}
@keyframes change-background {
    0%,
    100%{
        background-image: url(../img/discount-background1.jpg);
    }
    50%{
        background-image: url(../img/discount-background2.jpg);
    }
}
.Discount .image .content{
    text-align: center;
    color: inherit;
}
.Discount .image .content p{
    line-height: 1.7;
    font-size: 18px;
    max-width: 500px;
}
.Discount .image .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.Discount .image .content img{
    width: 300px;
    max-width: 100%;
}

/* form */
.Discount .form{
    padding-bottom: 70px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px) {
    .Discount .image,
    .Discount .form{
        flex-basis: 100%;
    }
}
.Discount .form .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.Discount .form .content form .input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}
.Discount .form .content form textarea{
    resize: none;
    height: 200px;
}
.Discount .form .content form .input:focus{
    outline: none;
    caret-color: var(--main-color);
}
.Discount .form .content form [type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    display: block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.Discount .form .content form [type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* End Discount Section */

/* Start Footer */
.footer{
    padding: 70px 0 0;
    background-color: #191919;
}
.footer .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.footer .box h3{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social{
    display:flex;
}
.footer .box .social li{
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #898989 ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .box .social li .facebook:hover{
    background-color: #3b5998;
}
.footer .box .social li .Twitter:hover{
    background-color: #1da1f2;
}
.footer .box .social li .youtube:hover{
    background-color: #ff0000;
}
.footer .box p{
    line-height: 2;
    color: #b9b9b9;
}
/* box 2 */
.footer .links li{
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-bottom: 1px solid #444;
}
.footer .links li:hover{
    padding-left: 10px;
}
.footer .links li a{
    color: #b9b9b9;
}
.footer .links li a:hover{
    color: white;
}
.footer .box .links li a::before{
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    color: var(--main-color);
}
/* box 3 */
.footer .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .line i{
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .line .info{
    line-height: 1.8;
    flex: 1;
}
.footer .line .info span{
    display: block;
}
/* box 4 */
.footer .footer-gallery img{
    width: 74px;
    border: 3px solid white;
    margin: 3px;
}
/* footer copyright */
.footer .copyrigth{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
@media (max-width:425px) {
    .footer .box{
        text-align: center;
    }
    .footer .box .social {
        width: 100%;
        justify-content: center;
    }
    .footer .line{
        flex-direction: column;
    }
    .footer .line i{
        margin-bottom: 10px;
    }
}
/* End Footer */


